.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

    .t贸picos__lista {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    } 

    .t贸picos__item {
        margin: 2em 0.5em;
    }

    .t贸picos__link{
        color: var(--branco);
        padding: 1em;
        background-color: var(--laranja);
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;

    }
    
    @media screen and (min-width: 1024px){
        .topicos__titulo {
            font-size: 24px;
        }

        .t贸picos__link{
            font-size: 24px;
        }
    }

    @media screen and (min-width: 1728px) {
        .topicos {
          padding: 5rem 160px;
        }
      }
      